:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #111827;
  background: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  
  background: #ffffff;
}

#app {
  width: 100vw;
  height: 100vh;
}
